@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200&display=swap");

html {
  max-width: 1800px;
  margin: auto;
  /* overflow: hidden; */
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
#page-header {
  /* width: 100%; */
  padding: 4px 8px;
}
#block-navigation {
  display: flex;
  flex-direction: row;
  padding: 4px;
}
#navlogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Pacifico", cursive;
}
#navlogo span {
  font-family: "Pacifico", cursive;
}
#navlogo span a {
  text-decoration: none;
  color: black;
  font-family: "Pacifico", cursive;
}
#navbar-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin: 0 0 0 8px;
}
#navlogo img {
  width: 40px;
}

#nav-link-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: stretch;
}

.navlinks {
  padding-right: 12px;
  display: flex;
}

.navlinks .nav-hover-links {
  display: block;
  margin: auto;
  padding: 4px 2px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  color: rgb(20, 20, 20);
  text-align: center;
  position: relative;
  cursor: pointer;
}

.nav-hover-links::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0%;
}
.nav-hover-links:hover::before {
  background-color: rgb(39, 38, 38);
  height: 2px;
}
#cart-link {
  font-size: 16px;
}

form#search-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
#search-btn {
  background: rgb(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 4px;
}
input#searchbar {
  padding: 2px;
  font-size: 16px;
}
.w-low {
  font-size: 18px;
  font-weight: 400;
}

/*  */

.main-largedrpdown {
  padding: 8px 12px;
  position: absolute;
  top: 102%;
  margin: auto;
  display: none;
  align-items: stretch;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.89);
}
.sub-categories {
  padding: 0 8px;
}
.sub-categories-heading {
  text-align: center;
  width: max-content;
  margin: auto;
}
.categories-list {
  list-style: none;
  margin-top: 4px;
}
.categories-list a {
  text-decoration: none;
  color: rgb(41, 152, 226);
  display: block;
  padding: 4px 2px;
  text-align: center;
  margin: auto;
  width: max-content;
}
.nav-hover-links:hover div.main-largedrpdown {
  display: flex;
  /* flex-wrap: wrap; */
}

/*  */

.main-carousel {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  /* border-bottom: 2px solid; */
}
span.carousel-controler {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  top: 0;
  color: #ffffff;
  z-index: 1;
  text-shadow: 1px 1px 20px #ffffff94;
  font-size: 32px;
}
span.carousel-controler:hover {
  background-color: rgba(24, 23, 23, 0.438);
  color: white;
}
#scroll-left {
  left: 0;
}
#scroll-right {
  right: 0;
}
.inner-carousel-frame {
  display: flex;
  width: 300%;
}

.img-container {
  width: 33.3%;
  /* height: 100%; */
  position: relative;
  display: flex;
  align-items: flex-start;
}
.carousel-image {
  width: 100%;
}
.linkwrapper-span {
  display: none;
}
.ca-maincontentContainer {
  position: absolute;
  top: 25px;
  text-align: center;
  width: 80%;

  font-weight: 500;
  color: white;
  /* transform-origin: 50% 50%; */
  left: 50%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  height: 90%;
  transform: translate3d(50%, -100%, 0);
  justify-content: flex-start;
}
.ca-maincontentContainer span {
  display: block;
  font-size: 40px;
}
.ca-maincontentContainer a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  padding: 4px 8px;
  color: white;
  background-color: rgba(90, 90, 90, 0.685);
  backdrop-filter: blur(1rem);
  width: max-content;
  margin: 10px auto 0;
}
.animatedText {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.61s;
  animation-duration: 0.61s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(50%, -100%, 0);
  }
  100% {
    opacity: 1;

    -webkit-transform: none;
    transform: translate3d(-50%, 0%, 0);
  }
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px 8px;
}
.category-items-container {
  width: 19%;
}
.category-item {
  display: block;
  margin: auto;
  text-decoration: none;
}
.category-imageholder {
  display: block;
  text-align: center;
}
.category-imageholder img {
  width: 40px;
  height: 40px;
}

.category-name {
  display: block;
  text-align: center;
  font-size: 16px;
  color: rgb(31, 30, 30);
}

.cards-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.header-l {
  width: 90%;
  margin: 4px auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 12px;
}
.center-text {
  display: block;
  text-align: center;
}
.flex-cards-l {
  display: flex;
  padding: 4px;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  width: 23%;
  text-decoration: none;
  color: black;
}

.card-image img {
  width: 100%;
}
.card-desc {
  font-size: 16px;
  padding: 8px 0;
}
.card-price {
  color: rgb(32, 174, 230);
  font-weight: 500;
}
.card-wrapper {
  width: 100%;
}
.sub-container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 12px 0;
}
.grid-display-cards {
  display: grid;
  grid-template-columns: auto auto;
  width: 30%;
  height: 200px;
}
.img-holders {
  overflow: hidden;
}
.img-holders img {
  width: 100%;
}
.long-item {
  grid-row: 1 / 3;
}
.long-item img {
  transform: scale(1.25);
}
.link-anchor {
  display: block;
  grid-column: 1 / 3;
  text-align: center;
  margin-top: 8px;
  text-decoration: none;
  color: #64c7ee;
}

/* cart.html */
.cart-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.cart-products-holder {
  padding: 4px 8px;
  display: grid;
}

.cart-billing {
  padding: 8px 12px;
}
.total-bill {
  padding: 2px;
  margin: 0 0 4px;
}
.sm-subhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  width: 90%;
  margin: auto;
}
.sm-subhead span {
  display: block;
  font-size: 16px;
}
.dis-tags-price {
  color: rgb(190, 27, 5);
}
.cart-total span {
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.checkout {
  padding: 2px;
  display: block;
}
.cart-coupon {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
}
.cart-coupon input {
  padding: 8px 4px;
  font-size: 16px;
  display: block;
}
.cart-coupon input[type="text"] {
  width: 100%;
}
.cart-coupon input[value="Apply"] {
  border: 2px solid black;
  outline: none;
  color: white;
  background: black;
  cursor: pointer;
}
.checkout .block-checkout-btn {
  display: block;
  width: 90%;
  color: #ffffff;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
  padding: 4px 0;
  outline: none;
  border: none;
  /* margin-top: 8px; */
  margin: 8px auto 0;
  cursor: pointer;
}

.cart-main a {
  text-decoration: none;
  color: black;
}

.cart-product {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  background-color: #eceef0;
  margin-bottom: 8px;
}
.cart-product-img {
  flex: 1;
  padding: 4px 8px;
}
.cart-desc-wrapper {
  flex: 3;
  padding: 4px 8px;
}
.cart-desc-wrapper span {
  display: block;
  padding-bottom: 4px;
  font-size: 18px;
}
.cart-product-img img {
  width: 100%;
}
.quantity-form input {
  width: 40px;
}

.pr-remove-btn {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-weight: 600;
}

.prc-bighead {
  color: #424242;
  font-size: 22px;
  letter-spacing: 2px;
  width: auto;
}

.filtercontainer {
  width: 95%;
  margin: 8px auto;
  border: 2px solid;
  border-radius: 6px;
  padding: 4px 8px;
}
.filterForm {
}
.filter-options {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-options li {
  display: block;
}
#sortfilter {
  padding: 2px;
  font-size: 15px;
}
.as-filter-btn {
  padding: 2px 4px;
  display: block;
  border: 1px solid;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
#filterbar {
  position: absolute;
  top: 127%;
  right: -10px;
  background-color: white;
  padding: 4px 8px;
  border: 1px solid;
  z-index: 1;
}
#filterbar form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 900px;
  justify-content: space-evenly;
  position: relative;
  height: 40vh;
}
#filterbar form button {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 10px;
  color: #ffffff;
  background-color: rgb(44, 46, 46);
  outline: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* pr-collection.html */

.collection-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
}
.collection-card {
  display: flex;
  flex-direction: column;

  padding: 8px 10px;
}
.offer-i {
  color: white;
  background: green;
  padding: 4px 8px;
  box-shadow: 3px 4px 17px 0px #6eea6ed4;
  z-index: 3;
}
.pr-img-wrapper {
  width: 100%;
}
.pr-img-wrapper img {
  width: 100%;
}
.card-desc a {
  text-decoration: none;
  color: #424242;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.Product-header-title {
  padding: 8px 4px;
  border-bottom: 1px solid;
  width: 95%;
  margin: auto;
  font-size: 18px;
}
.main-pr-page {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.images-display {
  padding: 4px 8px;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.pr-image-album {
  display: flex;
  width: 18%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pr-image-album button {
  display: block;
  width: 100%;
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid;
  outline: none;
}

.pr-image-album button img {
  width: 100%;
}

.show-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-image img {
  width: 95%;
}

.description-wrapper {
  width: 100%;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
}
.pr-price-bar {
  padding: 8px 4px;
  border-bottom: 2px solid black;
  font-size: 18px;
}
.pr-price-bar span {
  display: block;
  font-size: 30px;
}
.sell-price {
  font-weight: 900;
}
.MRP-price {
  font-size: 24px !important;
}
.pr-button-group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 8px 4px;
}

.pr-button-group button {
  font-size: 18px;
  padding: 6px 12px;
  outline: none;
  cursor: pointer;
}
.add-to-cart {
  border: 2px solid;
  background-color: white;
}
.buy-now {
  color: white;
  background-color: black;
  border: 2px solid black;
  margin-top: 8px;
}

.color-options {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.color-options-heading {
  font-size: 18px;
  padding: 8px 12px;
}
.color-options a {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.color-options a img {
  width: 100%;
}

.ellaborative-desc {
  padding: 8px 12px;
  font-weight: bolder;
  line-height: 3;
  width: 95%;
  margin: auto;
  font-size: 16px;
}
ul.offers-column {
  font-weight: 300;
  list-style: circle !important;
}

.offers-column li {
  padding: 4px 0;
  display: block;
  text-align: center;
}

.varient-div {
  display: flex;
  padding: 4px;
  flex-wrap: wrap;
}
.varient-links {
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px 4px;
  margin: 4px;
}
.active-var-link {
  color: white;
  background-color: black;
}
.pay-modes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  margin: auto;
}
.pay-modes .image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}
.pay-modes .image-holder img {
  width: 99%;
}

footer#page-footer {
  text-align: center;
  text-decoration: none;
  background: black;
  color: white;
  text-align: center;
}
.footer-head .footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'pacifico',cursive;
  padding: 12px;
}
.footer-logo img {
  padding: 12px;
  background-color: white;
  border-radius: 100%;
  
}
.footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  color: white;
  padding: 4px 8px;
}
.footer-holder {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  padding: 4px 8px;
}

.footer-subdiv h3 {
  border-bottom: 1px solid white;
}
.footer-subdiv ul{
  list-style: none;
}
.footer-copyright {
  padding: 8px 0;
  border-top: 2px solid;
}


.reg-form-head{
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
.reg-form-main{
  position: relative;
  max-width: 750px;
  margin: auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
form.reg-form{
  padding: 1rem;
}
form.reg-form input{
  display: block;
  font-size: 16px;
  padding: 0.168rem;
  border: 1px solid gray;
  margin: 0.4rem;
  outline: 2px black;
  width: 90%;
}

.reg-field-grp label{
  font-weight: 600;
}
.registration-illustration{
  position: absolute;
  right: 0;
}
input[type = "submit"]{
  padding: 0.268rem !important;
  font-size: 18px !important;
  color: white;
  background-color: rgb(26, 25, 25);
}
input[type = "submit"]:focus{
  border: 1px solid white;
  box-shadow: 2px 2px 4px 0px #1c1b1b;
}
/* to here */
.error-messages{
  list-style: none;
    color: red;
    font-size: 13px;
    padding: 0 0.4rem;
    font-weight: 900;
    background: #dad5d59e;
    width: 50%;
}
.log-form{
  width: 90%;
  margin: auto;
}
.log-form p{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.log-form p input{
  width: 99%;
}
.log-info{
  padding: 0.6rem;
  margin: 0 0 12px;
  font-size: 14px;
  background-color: #aba9a9;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.597);
}
p.log-submit{
  display: flex;
  align-items: flex-end;
  padding: 0.6rem;
}
p.log-submit input{
  width: 180px;
  /* align-self: center; */
  border-radius: 4px;
  background-color: rgb(48, 48, 48);
  color: white;
  font-weight: 600;
  padding: 8px 0;
}
.log-reg-link{
  color: rgb(205, 41, 41);
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .collection-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  #page-header {
    box-shadow: 0px 4px 20px 1px #0000008f;
  }
  .img-container {
    display: flex;
    align-items: stretch;
  }
  .linkwrapper-span {
    display: block;
  }
  #navbar-link {
    justify-content: flex-end;
  }
  #nav-link-list {
    display: flex;
    flex-direction: column-reverse;
  }

  div.main-largedrpdown {
    position: relative;
    display: none;
    font-size: 14px;
    flex-wrap: wrap;
  }
  .navlinks {
    padding: 0;
  }
  .navlinks .nav-hover-links {
    display: block;
    padding: 4px 2px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    color: rgb(20, 20, 20);
    /* text-align: center; */
    border-top: 1px solid;
    position: relative;
    cursor: pointer;
    width: 100%;
  }
  #cart-link {
    display: none;
  }
  #navlogo img {
    width: 30px;
  }
  #navlogo {
    font-size: 30px;
  }
  form#searchform {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    position: relative;
  }
  form#searchform input {
    width: 100%;
  }
  #search-btn {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .ca-maincontentContainer span {
    display: block;
    font-size: 30px;
  }
  .ca-maincontentContainer a {
    display: block;
    font-size: 20px;
  }
  .card-desc {
    font-size: 13px;
  }
  .grid-display-cards {
    display: grid;
    grid-template-columns: auto auto;
    width: 30%;
    height: 150px;
  }
  /* cart.html */

  .cart-main {
    grid-template-columns: 1fr;
    margin-bottom: 16px;
  }
  .cart-products-holder {
  }
  .cart-desc-wrapper span,
  .quantity-form label,
  .quantity-form input {
    font-size: 16px;
  }

  .collection-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .main-pr-page {
    flex-direction: column;
  }
  .images-display {
    flex-direction: column-reverse;
  }
  .pr-image-album {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  .pr-image-album button {
    width: 10%;
    margin: 2px 4px;
  }

  .footer-holder {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 520px) {
  .categories {
    padding: 12px 0px;
  }
  .category-imageholder img {
    width: 36px;
    height: 36px;
  }
  .filtercontainer{
    width: auto;
  }
  .category-name {
    font-size: 12px;
  }
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2px;
    place-items: center;
    flex-wrap: wrap;
  }
  .flex-cards-l {
    width: auto;
  }
  .grid-display-cards {
    display: grid;
    grid-template-columns: auto auto;
    width: 30%;
    height: 100px;
  }

  .cart-desc-wrapper span,
  .quantity-form label,
  .quantity-form input {
    font-size: 14px;
  }
  .pr-remove-btn {
    font-size: 12px;
  }
  .as-filter-btn {
    font-size: 14px;
  }
  #sortfilter {
    font-size: 14px;
  }
  .collection-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .color-options {
    grid-template-columns: repeat(7, 1fr);
  }

  .description-wrapper,
  .images-display {
    width: auto;
  }
  .pay-modes {
    width: 70%;
    margin: auto;
  }
  .reg-field-grp{
    margin: auto;
    width: 90%;
    display: block;
    /* width: fit-content; */
  }
}
